body {
  font-family: 'Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  margin: 80px;
  padding: 0;

  letter-spacing: 2px;
  line-height: 100%;

  background-image: url("background.jpg");
  background-size: cover;
}


menu {
	background-color: #243673;
	color: white;
  position: fixed;
  list-style-type: none;
	padding-left: 0;
  margin-top: -75px;
}
menu ul {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 6px;
	list-style-type: none;
}
menu a {
	display: block;
	border-radius: 4px;
	padding: 12px 24px;
	color: white;
	text-decoration: none;
}
menu li a:hover {
	background-color: #DCCD97;
}
